layout {
    background-color "transparent"

    focus-ring {
        active-color   "#00687a"
        inactive-color "#70797c"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#00687a"
        inactive-color "#70797c"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00687a"
        inactive-color "#70797c"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#00687a80"
    }
}